.detail-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height : 100vh;
  width : 100%;
  margin: 0;
}

.details{
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 5rem;
}

.detail {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.detail p {
  margin: 0;
}

.detail-title {
  color: royalblue;
  font-weight: bold;
}

.imgs{
  width: 50%;
  height: 100%;
}

img{
  object-position: center;
  object-fit: cover;
  aspect-ratio: 1/1;
}
