<app-header (productSearchEvent)="search($event)"></app-header>

<div class="my-container">
  <div class="categories">
    <div class="form-check">
      <input class="form-check-input"
             type="radio"
             name="flexRadioDefault"
             id="all"
             value="all"
             [(ngModel)]="selectedCategory"
             (change)="handleOptionChange()"
             checked
      >
      <label class="form-check-label" for="all">
        Select All
      </label>
    </div>
    @for(category of categories; track category) {
      <div class="form-check">
        <input class="form-check-input"
               type="radio"
               name="flexRadioDefault"
               id="{{category}}"
               value="{{category}}"
               [(ngModel)]="selectedCategory"
               (change)="handleOptionChange()"
        >
        <label class="form-check-label" for="{{category}}">
          {{category}}
        </label>
      </div>
    }
  </div>

  <div class="container-grid">
    <div class="container text-center">
      <div class="row row-cols-5">
        @for (product of products; track product.id) {
          <div class="col">
            <app-product-card [product]="product"></app-product-card>
          </div>
        }
      </div>
    </div>
  </div>
</div>






